/*
	Styling for ConfigView page view.
 */
.config_list_wrap {
	font-family: Consolas;
}

.config_list_wrap .title {
	margin-bottom: 0;
	text-align: center;
	font-size: 2em;
}

.config_list_wrap .config_list {
	padding: 30px;
}

.config_list_wrap .config_list .config_section {
	margin-bottom: 35px;
	background-color: #2b2b2b;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	color: #828282;
}

.config_list_wrap .config_list .config_section .section_header {
	padding: 3px 15px;
	background-color: var(--hightlight_bg);
	color: #000;
	font-size: 1.7em;
}

.config_list_wrap .config_list .config_section .config_wrap {
	padding: 10px;
	font-size: 1.5em;
}

.config_list_wrap .config_list .config_section .config_wrap .config_item {
	padding: 10px;
}

.config_list_wrap .config_list .config_section .config_wrap select,
.config_list_wrap .config_list .config_section .config_wrap input {
	margin-left: 15px;
	font-size: 0.9em;
}

.config_list_wrap .config_list .config_section .config_wrap input {
	width: 550px;
}

.config_list_wrap .config_list .config_section .config_wrap #rescan_library_btn {
	padding: 10px;
	display: inline-block;
	background-color: var(--hightlight_bg);
	color: black;
	cursor: pointer;
}

/*
	User config section
 */
.config_wrap .user_header {
	display: block;
	border-bottom: 2px solid grey;
}

.config_wrap .user_header .header_item,
.config_wrap .user_list .user_column {
	display: inline-block;
}

.config_wrap .user_header .header_item.header_username,
.config_wrap .user_list .user_column.column_username {
	width: 80%;
}

.config_wrap .user_header .header_item.header_type,
.config_wrap .user_list .user_column.column_type {
	width: 20%;
}

.config_wrap .user_list {
	display: block;
}

.config_wrap .user_list .user_item {
	padding: 5px;
}

.config_wrap .user_list .user_item .user_column .username {
	display: inline-block;
}

.config_wrap .user_list .user_item .user_column .user_editor_btn {
	padding: 4px 8px;
	display: inline-block;
	float: right;
	background-color: #1c4870;
	cursor: pointer;
	color: #fff;
	font-size: 0.7em;
}

.config_wrap .user_list .user_item .user_column .user_editor_btn:hover {
	background-color: #0065cc;
}

.config_wrap .user_list .user_item .user_column .user_editor_btn:last-child {
	margin-right: 10px;
}

