/*
	Styling for ConfigView page view.
 */
.config_list_wrap .title {
	text-align: center;
	font-family: Arial;
	font-size: 2em;
}

.config_list_wrap .config_list {
	padding: 30px;
}

.config_list_wrap .config_list .config_wrap {
	padding-bottom: 20px;
	font-size: 1.5em;
}

.config_list_wrap .config_list .config_wrap select,
.config_list_wrap .config_list .config_wrap input {
	margin-left: 15px;
	font-size: 0.9em;
}

.config_list_wrap .config_list .config_wrap input {
	width: 550px;
}

.config_list_wrap .submit_btn {
	margin-left: 20px;
	padding: 10px 30px;
	display: inline-block;
	background-color: #d68100;
	cursor: pointer;
	font-family: Arial;
	font-size: 1.5em;
}

.config_list_wrap .submit_btn:hover {
	background-color: #ffaf00;
}