/*
	Styling for DisplaySeriesView page view.
 */
.library_metadata {
	position: relative;
	z-index: 2;
	padding-bottom: 10px;
	display: block;
	background-color: #2b2b2b;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0,0.6);
	color: #fff;
	font-family: Consolas;
}

.library_metadata .section_left {
	width: 25%;
	display: block;
	float: left;
}

.library_metadata .section_middle {
	width: 50%;
	display: block;
	float: left;
}

.library_metadata .section_right {
	width: 25%;
	display: block;
	float: left;
}

.library_metadata .series_title {
	padding-top: 10px;
	padding-bottom: 5px;
	display: block;
	text-align: center;
	font-size: 2em;
}

.library_metadata .series_cover {
	text-align: center;
}

.library_metadata .series_cover img {
	width: 35%;
}

.library_metadata .section_header {
	padding-top: 20px;
	padding-left: 20px;
	display: block;
	font-size: 1.4em;
}

.library_metadata .section_block {
	padding: 10px 20px;
	display: block;
}

.library_metadata .section_block .tag_wrap {
	margin-bottom: 10px;
	padding: 2px 8px;
	display: inline-block;
	background-color: #007ab3;
	border-radius: 4px;
}

.left_wrap {
	width: 25%;
	float: left;
}

.sticky_glue {
	position: relative;
	z-index: 3;
	margin-top: 15px;
	margin-left: 3%;
	width: 97%;
	height: 8px;
	background-color: var(--hightlight_bg);
}

.chapter_container {
	position: relative;
	z-index: 1;
	margin-left: 3%;
	width: 97%;
	background-color: #2b2b2b;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0,0.5);
	box-sizing: border-box;
	font-family: Consolas;
}

.chapter_container .header {
	padding-bottom: 6px;
	color: #000;
	background-color: var(--hightlight_bg);
	text-align: center;
	font-size: 1.5em;
}

.chapter_container a {
	padding: 5px;
	display: block;
	background-color: #373737;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

.chapter_container a:nth-child(2n) {
	background-color: #2b2b2b;
}

.chapter_container a:hover,
.chapter_container a:nth-child(2n):hover {
	background-color: var(--hightlight_bg);
	color: #000;
}

.library_display_container {
	padding: 8px 10px 10px;
	width: 75%;
	float: right;
	box-sizing: border-box;
}

.library_display_container .manga_volume_wrap {
	margin: 5px;
	padding: 10px;
	width: 300px;
	display: inline-block;
	background-color: #2b2b2b;
	vertical-align: top;
}

.library_display_container .manga_volume_wrap:hover {
	background-color: var(--hightlight_bg);
}

.library_display_container .manga_volume_wrap a {
	display: block;
	text-decoration: none;
}

.library_display_container .manga_volume_wrap a img {
	width: 100%;
	height: 425px;
	vertical-align: top;
}

.library_display_container .manga_volume_wrap a .placeholder {
	text-align: center;
}

.library_display_container .manga_volume_wrap a .placeholder::before {
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.library_display_container .manga_volume_wrap a .placeholder img {
	width: 65%;
	display: inline-block;
	vertical-align: middle;
}

@media all and (max-width: 1000px) {
	.library_metadata .section_left {
		width: 100%;
		float: none;
	}
	
	.library_metadata .section_right {
		width: 50%;
	}
	
	.left_wrap {
		width: 40%;
	}
	
	.library_display_container {
		width: 60%;
	}
	
	.library_display_container .manga_volume_wrap {
		width: 40%;
	}
	
	.library_display_container .manga_volume_wrap a img {
		height: 31.5vw;
	}
}

@media all and (max-width: 600px) {
	.library_metadata .section_middle {
		width: 100%;
		float: none;
	}
	
	.library_metadata .section_right {
		width: 100%;
		float: none;
	}
	
	.left_wrap {
		width: 100%;
		float: none;
	}
	
	.sticky_glue {
		margin-left: 0;
		width: 100%;
	}
	
	.chapter_container {
		margin-left: 0;
		width: 100%;
		/* This resets Dan's scripted height requirements */
		height: auto !important;
	}
	
	.library_display_container {
		width: 100%;
	}
	
	.library_display_container .manga_volume_wrap {
		width: calc(100% - 30px);
	}
	
	.library_display_container .manga_volume_wrap a img {
		height: auto;
	}
	
	.library_display_container .manga_volume_wrap a .placeholder {
		height: 109.6vw;
	}
}
