/*
	Styling for first time setup page.
 */
:root {
	--hightlight_bg: #ffc800;
}

html,
body {
	margin: 0 auto;
	min-height: 100%;
	background-color: #2b2b2b;
}

.setup_wrap {
	margin: 30px auto 0 auto;
	width: 60%;
	min-width: 600px;
	display: block;
	background-color: #2b2b2b;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	color: #828282;
	font-family: Consolas;
}

.setup_wrap .header {
	padding: 3px 15px;
	background-color: var(--hightlight_bg);
	color: #000;
	font-size: 1.7em;
}

.setup_wrap .setup_inner_wrap {
	padding: 10px;
	font-size: 1.5em;
}

.setup_wrap .setup_inner_wrap .setup_message {
	margin-bottom: 20px;
	padding: 20px;
	background-color: #262626;
	font-size: 0.7em;
}

.setup_wrap .setup_inner_wrap .setup_start_btn {
	padding: 5px 10px;
	display: inline-block;
	background-color: var(--hightlight_bg);
	color: #000;
	cursor: pointer;
}

.setup_wrap .setup_inner_wrap .setup_start_btn:hover {
	background-color: #ffff36;
}

@media all and (max-width: 768px) {
	.setup_wrap {
		width: 100%;
		min-width: 0;
	}
}
