.display_container {
	padding: 49px 0 0 0;
	height: 100%;
}

.importer_app {
	height: 100%;
	font-family: Consolas;
}

.importer_app .frame {
	height: 100%;
}

.frame.file_upload .upload_area {
	width: 60%;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.frame.file_upload .upload_area::before {
	width: 0;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.frame.file_upload .upload_area input {
	display: inline-block;
	vertical-align: middle;
}

.frame.file_upload .help_area {
	padding: 10px;
	width: 40%;
	height: 100%;
	display: inline-block;
	background-color: #fad44b;
	box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
}
