/*
	This is a core CSS file that will always be available on every page of the
	system. Color definitions reside here.
 */

:root {
	--hightlight_bg: #ffc800;
	--backlight: #414141;
	--icon_hover: #000;
}

html,
body {
	margin: 0 auto;
	height: 100%;
	background-color: #414141;
}

.topbar {
	position: fixed;
	padding: 5px;
	width: 100%;
	background-color: var(--hightlight_bg);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	z-index: 4;
}

.topbar .logo {
	padding-left: 10px;
	float: left;
	font-family: Consolas;
	font-size: 2em;
}

.topbar .logo a {
	color: #000;
	text-decoration: none;
}

.topbar .icons_wrap {
	float: right;
}

.topbar .icons_wrap .button {
	padding-right: 25px;
	display: inline-block;
	font-size: 2.3em;
}

.topbar .icons_wrap .button i {
	color: var(--backlight);
}

.topbar .icons_wrap .button i:hover {
	color: var(--icon_hover);
}

.topbar .icons_wrap .button.btn_burger {
	display: none;
	cursor: pointer;
}

.topbar .icons_wrap .button a {
	width: 100%;
}

.topbar .icons_wrap .button img {
	width: 100%;
}

.topbar .icons_wrap .logout_btn {
	background-color: green;
	cursor: pointer;
	font-family: Consolas;
	text-align: center;
}

.topbar .icons_wrap .logout_btn:hover {
	background-color: lightgreen;
}

.topbar .login_wrap {
	position: relative;
	min-width: 140px;
	height: 39px;
	display: inline-block;
	vertical-align: top;
	font-family: Arial;
}

.topbar .login_wrap .login_text {
	width: 85%;
	height: 39px;
	float: left;
	display: block;
}

.topbar .login_wrap .login_text span {
	display: block;
}

.topbar .login_wrap .login_text .login_name {
	font-weight: bold;
}

.topbar .login_wrap .expand_arrow {
	padding: 8px 0;
	width: 15%;
	float: right;
	display: block;
	cursor: pointer;
	text-align: center;
}

.topbar .login_wrap .dropdown_menu {
	position: absolute;
	top: calc(100% + 5px);
	right: -4px;
	width: 100%;
}

.topbar .icons_wrap .burger_dropdown {
	position: absolute;
	top: 50px;
	right: 0;
	background-color: #ffdc5c;
}

.dropdown_menu {
	position: relative;
	width: 100%;
	display: none;
	overflow: hidden;
}

.topbar .icons_wrap .burger_dropdown .menu_item {
	display: block;
	text-align: center;
}

.topbar .icons_wrap .burger_dropdown .menu_item:hover {
	background-color: #ffef94;
}

.topbar .icons_wrap .burger_dropdown .menu_item.login_wrap_mobile:hover {
	background-color: transparent;
}

.topbar .icons_wrap .burger_dropdown .login_wrap_mobile {
	padding: 11px 0;
	font-family: Arial;
}

.topbar .icons_wrap .burger_dropdown .login_wrap_mobile .login_text {
	display: inline-block;
}

.topbar .icons_wrap .burger_dropdown .login_wrap_mobile .login_text .login_name {
	font-weight: bold;
}

.topbar .icons_wrap .burger_dropdown .login_wrap_mobile .logout_btn {
	padding: 6px;
	display: inline-block;
}

.topbar .icons_wrap .burger_dropdown .menu_item a {
	padding: 10px;
	display: block;
	box-sizing: border-box;
	text-decoration: none;
}

.topbar .icons_wrap .burger_dropdown .menu_item a img {
	width: 100%;
	max-width: 34px;
	display: inline-block;
	vertical-align: bottom;
}

.topbar .icons_wrap .burger_dropdown .menu_item a span {
	padding: 0 0 5px 20px;
	display: inline-block;
	color: #000;
	font-family: Consolas;
	font-size: 1.3em;
}

.topbar .icons_wrap .flyout {
	padding: 10px;
	display: none;
}

.topbar .icons_wrap .flyout.library .search_wrap {
	padding: 3px 5px;
	display: block;
	float: right;
	background-color: aliceblue;
}

.topbar .icons_wrap .flyout.library .search_wrap .search_box {
	width: 300px;
	border: none;
	background-color: transparent;
	font-size: 1.5em;
}

.display_container {
	padding-top: 49px;
	box-sizing: border-box;
}

@media all and (max-width: 768px) {
	.topbar .login_wrap,
	.topbar .icons_wrap .button {
		display: none;
	}
	
	.topbar .icons_wrap .button.btn_burger {
		display: inline-block;
	}
}
